/* Importar fontes */
@font-face {
  font-family: 'AustraliaSignature';
  src: url('../fonts/australiasignature.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaBlack.ttf') format('truetype');
    font-weight: 900;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaBold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaItalic.ttf') format('truetype');
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaLight.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaMedium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaSemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaSemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaThin.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('../fonts/LufgaThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }